@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #01161e;
  --secondary: #124559;
  --tertiary: #598392;
  --quaternary: #aec3b0;
  --quinary: #eff6e0;
}

body {
  background-color: var(--primary);
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-one);
  background-repeat: no-repeat;
}
